/* Conteneur principal */
.missions-container {
    display: flex;
    flex-wrap: wrap; /* Permet de passer les boutons à la ligne si nécessaire */
    justify-content: center; /* Centre horizontalement les boutons */
    align-items: center; /* Centre verticalement les boutons */
    gap: 30px; /* Espacement entre les boutons */
    min-height: 70vh; /* Occupe 70% de la hauteur de la page */
    box-sizing: border-box;
}

/* Titre */
.titre {
    font-size: 2.5em; /* Taille du titre */
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur du texte */
    text-align: center; /* Texte centré horizontalement */
    margin: 50px 0 50px 0; /* Descend le titre un peu plus bas */
}

/* Style des boutons */
.mission {
    text-decoration: none; /* Supprime le soulignement */
    color: #333; /* Couleur du texte */
    font-size: 0.9em; /* Taille du texte */
    font-weight: bold;
    display: flex;
    flex-direction: column; /* Texte sous l'image */
    align-items: center;
    justify-content: center;
    width: 120px; /* Largeur des boutons */
    height: 120px; /* Hauteur des boutons (cercle) */
    background-color: #ffffff; /* Couleur de fond */
    border: none; /* Pas de bordure */
    border-radius: 50%; /* Arrondi pour un cercle */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Légère ombre */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Effet au survol */
.mission:hover {
    transform: scale(1.1); /* Grossissement */
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2); /* Ombre plus forte */
}

/* Texte des boutons */
.mission span {
    margin-top: 10px; /* Espace entre l'image et le texte */
    text-align: center;
    font-size: 1em;
    color: rgb(0, 0, 0); /* Texte blanc */
}

/* Texte des missions sous les boutons */
.mission-description {
    text-align: center; /* Centre le texte sous le bouton */
    margin-top: 10px; /* Espacement au-dessus du texte */
    font-size: 1em; /* Taille du texte */
    color: #333; /* Couleur du texte */
}

/* Image des boutons */
.mission img {
    width: 70%; /* Taille de l'image */
    height: 70%; /* Taille de l'image */
    object-fit: cover; /* Adapte l'image */
    border-radius: 50%; /* Image ronde */
    margin-bottom: 5px;
}
