/* Style global pour la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.allelements {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Style du titre */
.titre {
    font-size: 3em;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Style du container des missions */
.missions-container {
    display: flex;
    flex-direction: column; /* Les éléments seront disposés de haut en bas */
    align-items: center;
    margin-bottom: 40px;
}

/* Style des missions */
.mission {
    text-align: center;
    text-decoration: none;
    color: #333;
    width: 80%; /* Ajuste la largeur pour un meilleur aspect */
    margin-bottom: 20px; /* Espace entre les éléments */
    transition: transform 0.3s ease;
}

.mission:hover {
    transform: scale(1.05);
}

.mission img {
    width: 200px;  /* Fixe une largeur fixe pour chaque image */
    height: 200px; /* Fixe une hauteur fixe pour chaque image */
    object-fit: cover; /* L'image remplit le carré tout en maintenant son ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mission span {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

/* Style du bouton "Retour" */
.back-button {
    display: block;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #1a73e8;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0049b7;
}

/* Style du footer */
.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1.2em;
    color: #777;
}